certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
docutils==0.21.2
et-xmlfile==1.1.0
fonttools==4.53.1
fredapi==0.5.2
frozendict==2.4.4
idna==3.7
importlib_metadata==8.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
keyring==25.2.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplot==0.1.9
matplotlib==3.9.1
mdurl==0.1.2
more-itertools==10.3.0
nh3==0.2.18
numpy==2.0.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pathlib==1.0.1
patsy==0.5.6
pillow==10.4.0
pkginfo==1.10.0
pydantic==1.10.17
Pygments==2.18.0
pyloco==0.0.139
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
scipy==1.14.0
SimpleWebSocketServer==0.1.2
six==1.16.0
statsmodels==0.14.2
twine==5.1.1
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
ushlex==0.99.1
websocket-client==1.8.0
xlrd==2.0.1
zipp==3.19.2
